<IfModule mod_rewrite.c>
    RewriteEngine On

    # Ensure requests go to the public/index.php file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
